<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% include 'UserMainPage.html' %}
{% load staticfiles %}

    <table border="2" align="center">

        <tr>
<td>
            <style>
        .image{
            display: inline-block;
            width: 15%;
            margin: 20px 50px 30px 50px  ;

        }
    </style>
            {% for x in qs %}
           <div class="image">
               <a href="/show_gym/?id={{ x.id }}"><img src="{{ x.image.url }}" width="150" height="100"></a><br></a>
               <table align="center" border="1">
                   <tr>
                       <td width="200">
                           CenterName:{{ x.center_name}}
                       </td>
                   </tr>
                   <tr>
                       <td width="200">
                           Contact: {{ x.contact}}
                       </td>
                   </tr>
                   <tr>
                       <td width="200">
                           Address: {{ x.address}}
                       </td>
                   </tr>
               </table>




           </div>

{% endfor %}
        </td>
                </tr>




    </table>




</body>
</html>