{% load staticfiles %}
<html>
    <title>Gym Management</title>
    <body>
        <table align="center">
            <tr>
                <th>
                    {% include 'title.html' %}
                </th>
            </tr>
            <tr>
                <th>
                    {% include 'menu.html' %}
                </th>
            </tr>
            <tr>
                <th>

                    <table align="center" border="0">
                        <tr>
                            <th width="400">
                                Gym Management System helps to keep records of members and their memberships and allows easy communication between you and your members.
This is Gym Management System software developed in C#. Here the members of the gym, their personal information should be entered in the software.
The Gym Management requires a system that will handle all the necessary and minute details easily and proper database security accordingly to the user.
Gym management system project is a standalone user friendly software application developed in asp.net using C# programming language and MS access database.
The objective of the Gym Management System is to provide a system which handles the information of the people coming into the gym and maintaining their health care.
Automating Gym Management is easy with The Integrated Gym Management Software for Fitness Centers. We provide Turnkey Health Club and Gym Management …
The Gym Management Software System is user-friendly software for Health club or Fitness club which stores data about members, instructors
Gym management system project is useful for fitness centers to manage customer informaiton, equipment information and billing details.


                            </th>
                            <th>
                                <img src="{% static 'images/sree.jpg' %}" width="250">
                            </th>
                        </tr>
                    </table>

                </th>
            </tr>
        </table>
    </body>
</html>